@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

body {
  user-select: none;
}

.App {
  text-align: center;
}

.headingApp {
  font-family: "Inconsolata", monospace;
  letter-spacing: 4px;
  font-size: 30px;
}

.headingApp::first-letter {
  color: hsl(208, 99%, 65%);
  font-size: 45px;
}

.componentCounter {
  width: 500px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
